.paragraph--type-call-to-action {
  text-align: center;

  @media screen and (max-width: 650px) {
    margin-left: -15px;
    margin-right: -15px;
  }

  > div {
    position: relative;
  }

  .group-wrapper {
    position: relative;
  }

  .group-left {

    .field--name-field-background-image {

      img {
        width: 100%;
        height: auto;
        min-height: 275px;
        object-fit: cover;
      }
    }
  }

  .group-right {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (max-width: 900px) and (min-width: 600px) {
      width: 65%;
    }

    @media screen and (max-width: 700px) and (min-width: 400px) {
      width: 75%;
    }

    @media screen and (max-width: 400px) {
      width: 95%;
    }

    h2 {
      display: inline !important;
      color: $teal;
      text-transform: uppercase;
      @include title-box($blue-dark);
      box-decoration-break: clone;
      line-height: 68px;

      @media screen and (max-width: 900px) and (min-width: 600px) {
        font-size: 28px;
        line-height: 54px;
      }

      @media screen and (max-width: 700px) {
        font-size: 24px;
        line-height: 46px;
      }

      p {
        display: inline;
      }
    }

    .field--name-field-teaser {
      color: white;
      font-size: 20px;
      line-height: 28px;
      margin: 0 15% 10px 15%;
    }

    .field--name-field-call-to-action a {
      margin-top: 10px;
      @include button();
    }
  }
}
