.paragraph--type-map-slides {
  .field--name-savethebw-map-images {
    position: sticky;
    top: 0;

    > div:first-child {
      &::before {
        background: var(--component-bg-color);
        content: '';
        display: block;
        height: 100vh;
        left: 50%;
        margin-left: -50vw;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        z-index: -1;
      }
    }

    > div:not(:first-child) {
      opacity: 0;
    }
  }

  .field--name-field-slide-items {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.paragraph--type-map-slide {
  position: relative;

  &.paragraph--view-mode-images-only {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;

    > div {
      background: var(--component-bg-color);
      left: 50%;
      margin-left: -50vw;
      position: absolute;
      top: 0;
      width: 100vw;

      img {
        display: block;
        height: auto;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  &.paragraph--view-mode-default {
    background: transparent;
    padding: 40px;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;

    @media screen and (max-width: 850px) and (min-width: 600px) {
      padding: 30px;
    }

    @media screen and (max-width: 600px) {
      padding: 20px;
    }

    h2 {
      color: #fff;
      font-size: 31px;
      font-weight: bold;
      line-height: 36px;
      text-transform: none;

      @media screen and (max-width: 850px) and (min-width: 600px) {
        font-size: 28px;
        line-height: 32px;
      }

      @media screen and (max-width: 600px) {
        font-size: 24px;
        line-height: 28px;
      }

      p {
        padding: 0;
      }
    }

    .field--name-field-call-to-action {
      a {
        margin-top: 20px;
        @include button();
      }
    }
  }
}
