.paragraph--type-tabs-group {

  .field--name-field-tabs {

    .row {
      margin: 0;

      #views-bootstrap-tab-views-bootstrap-tabs-default {
        width: 100%;
      }

      .nav-tabs {
        justify-content: center;
        border: none;
        margin-bottom: 60px;

        @media screen and (max-width: 700px){
          flex-direction: column;
        }

        li {

          @media screen and (max-width: 700px){
            margin: auto;
            width: 250px;
          }
        }

        a {
          display: inline-block;
          text-transform: uppercase;
          color: $blue-dark;
          background: $gray;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 1px;
          font-weight: bold;
          padding: 14px 35px;
          text-decoration: none;
          transition: all 0.5s;

          @media screen and (max-width: 700px){
            width: 100%;
            text-align: center;
          }

          &:hover {
            color: $teal;
            background: $blue-dark;
          }
        }

        a.active {
          color: $teal;
          background: $blue-dark;
        }
      }
    }
  }
}
