.paragraph--type-text {
  position: relative;

  h1, h2, h3, h4 {
    color: $blue-dark;
  }

  h2 {
    text-transform: none;
  }

  h3 {
    font-size: 31px;
    line-height: 1.2em;

    @media screen and (max-width: 850px) and (min-width: 600px) {
      font-size: 28px;
      line-height: 32px;
    }

    @media screen and (max-width: 600px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  h4 {
    font-size: 19px;
    line-height: 1.4em;
    font-weight: bold;

    @media screen and (max-width: 850px) and (min-width: 600px) {
      font-size: 18px;
      line-height: 26px;
    }

    @media screen and (max-width: 600px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &.width-onehalf {

    > div {
      width: 50%;
      margin: auto;

      @media screen and (max-width: 850px) and (min-width: 600px) {
        width: 75%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &.width-twothird {

    > div {
      width: 66.66%;
      margin: auto;

      @media screen and (max-width: 850px) and (min-width: 600px) {
        width: 80%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
