.node--type-press-release {

  &.node--view-mode-teaser {

    h3 {
      font-size: 31px;
      line-height: 36px;
      margin: 0;

      @media screen and (max-width: 850px) and (min-width: 600px) {
        font-size: 28px;
        line-height: 32px;
      }

      @media screen and (max-width: 600px) {
        font-size: 24px;
        line-height: 28px;
      }

      a {
        @include underline-effect();

        &:hover {
          @include underline-hover();
        }
      }
    }

    .field--name-field-date {
      font-weight: bold;
      margin: 6px 0;
      letter-spacing: 1px;
      color: $blue-dark;
    }

    .field--name-field-teaser  {
      line-height: 1.4em;
    }
  }

  &.node--view-mode-banner {
    position: relative;
    display: flex;
    padding-top: 35px;

    &.no-image {

      .group-left {
        width: 66.66%;
      }
    }

    &.has-image {

      .group-left {
        width: 50%;
        padding-right: 20px;
      }

      .group-right {
        width: 50%;
      }
    }

    .group-header {
      position: absolute;
      background: url('../images/blog-wave.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom left;
      width: 100vw;
      height: 100%;
      left: 50%;
      margin-left: -50vw;
      bottom: 0;
      z-index: -1;
    }

    .group-left {

      .field--name-dynamic-twig-fieldnode-press-releases {
        a {
          @include button();
          margin: 0 0 10px;
        }
      }

      .field--name-node-title h1 {
        color: $blue-dark;
        font-size: 50px;
        line-height: 58px;
      }

      .field--name-field-date {
        font-size: 20px;
        font-weight: bold;
        color: $blue-dark;
      }

      .field--name-field-author {
        font-size: 20px;
        font-weight: bold;
        color: $blue-dark;

        .field__label {
          display: inline-block;
        }

        .field__item {
          display: inline-block;
        }
      }

      .social-sharing-buttons {
        justify-content: left;
        margin: 25px 0;

        .share-label {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .group-right {

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
