.field--name-field-components,
.field--name-field-components-tab {

  > div:not(:first-child) {

    .color-gray {

      &:before {
        margin-bottom: -1px;
      }

      &.wave-1::before {
        content: '';
        display: block;
        background: url('../images/wave1-gray.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-2::before {
        content: '';
        display: block;
        background: url('../images/wave2-gray.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-3::before {
        content: '';
        display: block;
        background: url('../images/wave3-gray.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-4::before {
        content: '';
        display: block;
        background: url('../images/wave4-gray.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }
    }

    .color-white {

      &:before {
        margin-bottom: -1px;
      }

      &.wave-1::before {
        content: '';
        display: block;
        background: url('../images/wave1-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $gray;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-2::before {
        content: '';
        display: block;
        background: url('../images/wave2-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $gray;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-3::before {
        content: '';
        display: block;
        background: url('../images/wave3-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $gray;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }

      &.wave-4::before {
        content: '';
        display: block;
        background: url('../images/wave4-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $gray;
        width: 100vw;
        height: 10vw;
        margin-left: calc(-1 * (100vw - 100%) / 2);
      }
    }
  }
}

body.first-wave-white.node--type-page:not(.page-node-63) {

  .node--view-mode-banner:not(.no-banner-image) {

    .field--name-dynamic-twig-fieldnode-wave {
      position: absolute;
      background: url('../images/wave1-white.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 10vw;
      left: calc(-1 * (100vw - 100%) / 2);
      bottom: -1px;
      z-index: 1;
    }
  }
}

body.first-wave-gray.node--type-page {

  .node--view-mode-banner:not(.no-banner-image) {

    .field--name-dynamic-twig-fieldnode-wave {
      position: absolute;
      background: url('../images/wave1-gray.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      height: 10vw;
      left: calc(-1 * (100vw - 100%) / 2);
      bottom: -1px;
      z-index: 1;
    }
  }
}

// Alternate wave for tbe blog listing page
body.page-node-63 {
  overflow-x: hidden;

  .main-content > .section > .tabs {
    position: relative;
    top: -160px;
    z-index: 9;
  }

  .view-blog.view-display-id-block_2 {
    margin-top: -340px;

    @media screen and (max-width: 1050px) {
      margin-top: -400px;
    }

    @media screen and (max-width: 600px) {
      margin-top: -460px;
    }
  }

  &.user-logged-in {
    .view-blog.view-display-id-block_2 {
      margin-top: -440px;

      @media screen and (max-width: 1050px) {
        margin-top: -500px;
      }

      @media screen and (max-width: 600px) {
        margin-top: -560px;
      }
    }
  }

  .node--view-mode-banner {
    padding-bottom: 200px;

    @media screen and (max-width: 1050px) {
      padding-bottom: 260px;
    }

    @media screen and (max-width: 1050px) {
      padding-bottom: 320px;
    }

    &::before {
      background: $gray;
      bottom: 0;
      content: '';
      display: block;
      left: 50%;
      margin-left: -50vw;
      position: absolute;
      top: -70px;
      width: 100vw;
    }

    .group-left {

      .field--name-dynamic-twig-fieldnode-wave {
        position: absolute;
        background: url('../images/wave2-white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 10vw;
        left: calc(-1 * (100vw - 100%) / 2);
        bottom: -1px;
        z-index: 1;
      }
    }

    .group-right {
      position: relative !important;

      @media screen and (max-width: 600px) {
        padding-bottom: 120px !important;
      }
    }
  }
}
