{
  "viewports": [
    {
      "label": "phone",
      "width": 320,
      "height": 480
    },
    {
      "label": "tablet",
      "width": 1024,
      "height": 768
    },
    {
      "label": "desktop",
      "width": 1920,
      "height": 1080
    }
  ],
  "scenarios": [
    {{#TEST_URLS}}
      {
        "label": "{{.}}",
        "url": "https://abra:cadabra@dev-savethebw.pantheonsite.io{{.}}",
        "referenceUrl": "https://www.savetheboundarywaters.org{{.}}",
        "removeSelectors": [".visually-hidden", ".at-form"],
        "delay": "500"
      },
    {{/TEST_URLS}}
    {
        "label": "Main Nav",
        "url": "http://drupal10",
        "referenceUrl": "http://drupal9",
        "removeSelectors": [".visually-hidden"]
    }
  ],
  "paths": {
    "bitmaps_reference": "bitmaps_reference",
    "bitmaps_test": "bitmaps_test",
    "engine_scripts": "engine_scripts",
    "html_report": "html_report",
    "ci_report": "ci_report"
  },
  "report": ["browser"],
  "engine": "puppeteer",
  "engineOptions": {
    "args": ["--no-sandbox"]
  },
  "misMatchThreshold": 0.5,
  "asyncCaptureLimit": 1,
  "asyncCompareLimit": 10,
  "resembleOutputOptions": {
    "ignoreAntialiasing": true,
    "usePreciseMatching": true
  },
  "debug": false,
  "debugWindow": false
}
