.node--type-event {

  &.node--view-mode-teaser {
    color: $blue-dark;
    padding: 20px 10% 20px 14%;
    position: relative;

    @media screen and (max-width: 800px) and (min-width: 600px) {
      padding: 20px 6% 20px 8%;
    }

    @media screen and (max-width: 600px) {
      padding: 20px 0 20px 0;
    }

    a.field-group-link {
      display: flex;

      @media screen and (max-width: 600px) {
        display: block;
      }

      &:hover {
        text-decoration: none;
        color: $blue-dark;

        .field--name-node-title h2 {
          @include underline-hover();
        }
      }

      .group-left {
        position: relative;
        padding-right: 34px;
        width: 230px;

        @media screen and (max-width: 700px) {
          padding-right: 20px;
          min-width: 215px;
        }

        @media screen and (max-width: 600px) {
          width: 100%;
        }

        .field--name-field-display-time {
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 5px;
          margin-left: 15px;

          @media screen and (max-width: 700px) and (min-width: 450px) {
            font-size: 15px;
            line-height: 18px;
          }

          @media screen and (max-width: 450px) {
            font-size: 14px;
            line-height: 16px;
          }
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 4px;
          background: $teal;
          border-radius: 10px;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }

      .group-right {
        padding-left: 30px;
        width: calc(100% - 230px);

        @media screen and (max-width: 700px) {
          padding-left: 20px;
        }

        @media screen and (max-width: 600px) {
          width: 100%;
          padding-left: 15px;
          padding-top: 20px;
        }

        .field--name-node-title h2 {
          font-size: 20px;
          line-height: 28px;
          font-weight: bold;
          @include underline-effect();

          @media screen and (max-width: 700px){
            font-size: 18px;
            line-height: 24px;
          }
        }

        .type-and-teaser {
          font-size: 16px;
          line-height: 22px;

          @media screen and (max-width: 700px) and (min-width: 450px) {
            font-size: 15px;
            line-height: 18px;
          }

          @media screen and (max-width: 450px) {
            font-size: 14px;
            line-height: 16px;
          }

          .field--name-field-event-type {
            display: inline;
            font-weight: bold;
            text-transform: uppercase;

            &:after {
              content: ':';
              display: inline-block;
              color: $teal;
              padding-left: 3px;
            }
          }

          .field--name-field-teaser {
            display: inline;

            p {
              margin-top: 10px;
            }

            p:first-child {
              margin-top: 0;
              display: inline;
            }
          }
        }
      }
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background: $blue-dark;
      border-radius: 10px;
      opacity: 0.04;
    }

    .field--name-field-date-range {
      font-size: 16px;
      line-height: 36px;
      font-weight: bold;
      text-transform: uppercase;
      @include title-box(white);
      padding: 5px 15px 0;
      min-width: 180px;

      .month,
      .day {
        font-size: 31px;

        @media screen and (max-width: 700px) and (min-width: 450px) {
          font-size: 28px;
        }

        @media screen and (max-width: 450px) {
          font-size: 26px;
        }
      }

      .range .month,
      .year .day {
        font-size: 16px;

        @media screen and (max-width: 700px) and (min-width: 450px) {
          font-size: 15px;
          line-height: 18px;
        }

        @media screen and (max-width: 450px) {
          font-size: 14px;
          line-height: 16px;
        }
      }

      .month {
        margin-right: 5px;
      }

      .range .month {
        margin-right: 0;
      }

      .year {
        margin-left: 5px;
      }
    }
  }
}
