.node--type-in-the-news {

  &.node--view-mode-teaser {

    h3 {
      font-size: 31px;
      margin: 0;

      a {
        @include underline-effect();

        &:hover {
          @include underline-hover();
        }
      }
    }

    .group-date-source {
      font-weight: bold;
      margin: 6px 0;
      letter-spacing: 1px;

      div {
        display: inline;
      }
    }

    .field--name-field-date::after {
      content: " |";
    }

    .field--name-field-teaser  {
      line-height: 1.4em;
    }
  }
}
