.paragraph--type-metrics {
  position: relative;
  text-align: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $blue-dark;
    padding: 0 15%;

    @media screen and (max-width: 850px) and (min-width: 650px) {
      padding: 0 10%;
    }

    @media screen and (max-width: 650px) {
      padding: 0 5%;
    }

    p {
      padding: 0;
    }
  }

  .field--name-field-lead-in-text {
    text-align: center;
    padding: 0 15%;
    margin-bottom: 45px;

    @media screen and (max-width: 850px) and (min-width: 650px) {
      padding: 0 10%;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 650px) {
      padding: 0 5%;
      margin-bottom: 15px;
    }
  }

  .field--name-field-metric-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > .field__item {
      flex: 0 0 33.33%;
      padding: 0 40px;

      @media screen and (max-width: 850px) and (min-width: 650px) {
        flex: 0 0 50%;
      }

      @media screen and (max-width: 650px) {
        flex: 0 0 100%;
        max-width: 450px;
      }
    }
  }
}

.paragraph--type-metric {
  position: relative;
  padding-top: 66px;

  .group-left {
    position: absolute;
    top: -10px;
    left: -40px;
    height: 135px;
  }

  .field--name-field-metric-image {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      height: 100%;
      width: auto;
    }
  }

  @for $i from 0 through 100 {

    &.image-height-#{$i} {

      .field--name-field-metric-image img {
        height: percentage($i / 100);
      }
    }
  }

  .group-right {
    position: relative;

    .title-wrapper {
      color: $blue-dark;
      text-align: left;

      .field--name-field-big-number {
        display: inline-block;
        font-size: 78px;
        line-height: 69px;
        font-weight: bold;
        letter-spacing: -1px;

        @media screen and (max-width: 850px) and (min-width: 600px) {
          font-size: 68px;
          line-height: 66px;
        }

        @media screen and (max-width: 600px) {
          font-size: 60px;
          line-height: 60px;
        }
      }

      .field--name-field-metric-title {
        display: inline-block;
        font-weight: bold;
      }
    }

    .field--name-field-subtitle {
      text-align: left;
    }
  }
}
