.paragraph--type-resource-listing {

  h2 {
    color: $blue-dark;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .field--name-field-lead-in-text {
    text-align: center;
    margin-bottom: 25px;
  }

  .field--name-field-resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    margin: auto;

    @media screen and (max-width: 1150px) and (min-width: 850px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 35px;
      width: 820px;
    }

    @media screen and (max-width: 850px) and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 35px;
      width: 530px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    > .field__item {
      height: 100%;

      .group-right {

        &::before {
          position: absolute;
          content: '';
          display: block;
          width: 100%;
          top: 0;
          left: 0;
        }
      }

      &:nth-child(8n-7) {

        .group-right {

          &::before {
            background: url('../images/resources-wave1.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
          }
        }
      }

      &:nth-child(8n-6) {

        .group-right {

          &::before {
            background: url('../images/resources-wave2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 46%;
          }
        }
      }

      &:nth-child(8n-5) {

        .group-right {

          &::before {
            background: url('../images/resources-wave3.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 64%;
          }
        }
      }

      &:nth-child(8n-4) {

        .group-right {

          &::before {
            background: url('../images/resources-wave4.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 80%;
          }
        }
      }

      &:nth-child(8n-3) {

        .group-right {

          &::before {
            background: url('../images/resources-wave5.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 80%;
          }
        }
      }

      &:nth-child(8n-2) {

        .group-right {

          &::before {
            background: url('../images/resources-wave6.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 70%;
          }
        }
      }

      &:nth-child(8n-1) {

        .group-right {

          &::before {
            background: url('../images/resources-wave7.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 56%;
          }
        }
      }

      &:nth-child(8n) {

        .group-right {

          &::before {
            background: url('../images/resources-wave8.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
          }
        }
      }
    }
  }
}
