.modal-backdrop {

  &.show {
    z-index: 10001;
  }
}

.modal {
  z-index: 10002;

  .modal-dialog {
    max-width: 1000px;
    background-color: white;
    padding: 25px;
  }

  .modal-header {
    background-color: transparent;

    button {
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.7 !important;
      }
    }

    [data-dismiss='modal'] {
      display: inline-block;
      height: 48px;
      opacity: 1;
      overflow: hidden;
      padding: 0;
      pointer-events: all;
      position: relative;
      text-indent: -9999px;
      width: 48px;

      @media screen and (max-width: 650px) and (min-width: 400px) {
        height: 36px;
        width: 36px;
      }

      @media screen and (max-width: 400px) {
        height: 30px;
        width: 30px;
      }

      &::before {
        background-image: url("../images/modal-close.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .modal-content {
    padding: 60px 35px;

    @media screen and (max-width: 650px) and (min-width: 400px) {
      padding: 40px 20px;
    }

    @media screen and (max-width: 400px) {
      padding: 20px 0px;
    }
  }
}
