@mixin button($color: $blue-dark, $background: $teal, $border: $teal) {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  padding: 9px 20px 8px;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  z-index: 0;

  @media screen and (max-width: 850px) and (min-width: 650px) {
    font-size: 14px;
    line-height: 20px;
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    line-height: 16px;
  }

  &:hover {
    text-decoration: none;

    &::before {
      transform: scale(1.08);
    }
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $border;
    border-radius: 50px;
    background: $background;
    z-index: -1;
    transition: all .5s;
  }
}

@mixin everyaction-styles {

  .at h1, .at h2,
  .at h3, .at h4 {
    background-color: transparent !important;
    font-family: 'proxima-nova' !important;
    color: $blue-dark !important;
  }

  .at h1 {
    font-size: 37px;
    line-height: 46px;
    text-transform: uppercase;

    @media screen and (max-width: 850px) and (min-width: 600px) {
      font-size: 32px;
      line-height: 38px;
    }

    @media screen and (max-width: 600px) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .at-form {

    a {

      &:hover {
        background-size: 0 !important;
      }
    }

    .multistep-layout.split-layout .HeaderHtml h1 {
      background: none;
      font-weight: 700;
      text-transform: none;
      line-height: 1.2em;
    }

    .at-step.active {
      border-bottom-color: $teal;
    }

    section.at-inner {
      background: transparent;
      font-family: 'proxima-nova' !important;

      header.at-title,
      header.HeaderHtml {
        font-size: 37px;
        line-height: 46px;
        font-family: 'proxima-nova' !important;
        color: $blue-dark;
        text-transform: uppercase;
        text-align: center;

        @media screen and (max-width: 850px) and (min-width: 600px) {
          font-size: 32px;
          line-height: 38px;
        }

        @media screen and (max-width: 600px) {
          font-size: 28px;
          line-height: 34px;
        }
      }

      header.HeaderHtml {
        text-transform: none;
      }

      legend {
        color: $blue-dark !important;
        font-size: 31px !important;
        line-height: 36px !important;
        text-align: center !important;
        margin: 0;
        margin-bottom: 20px !important;
      }

      .at-markup p {
        text-align: center;
        font-size: 19px;
        line-height: 1.2em;
        color: $black;
      }

      label:not(.label-amount) {
        text-transform: uppercase !important;
        color: $blue-dark;
        font-weight: bold;
      }

      input,
      select,
      textarea,
      iframe {
        border-radius: 0 !important;
        border: 1px solid $gray-border !important;
        background: transparent !important;

        &:focus {
          box-shadow: none;
          border: 1px solid $teal !important;
        }
      }

      input.at-submit {
        font-size: 16px !important;
        line-height: 22px !important;
        display: inline-block !important;
        padding: 13px 28px !important;
        border: 2px solid $teal !important;
        border-radius: 50px !important;
        color: $blue-dark !important;
        background: $teal !important;
        text-transform: uppercase !important;
        letter-spacing: 1px !important;
        font-weight: bold !important;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .at form label.label-amount input[type="radio"]:checked + a {
    background-color: $blue-dark !important;
  }

  .at form label.label-amount input[type="radio"] + a {
    background-color: $gray-dark !important;
    color: white !important;
    border-radius: 0 !important;
    border: none !important;
  }

  .at-form-submit input,
  .nextStep {
    font-size: 16px !important;
    line-height: 22px !important;
    display: inline-block !important;
    padding: 13px 28px !important;
    border: 2px solid $teal !important;
    border-radius: 50px !important;
    color: $blue-dark !important;
    background: $teal !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    font-weight: bold !important;

    &:hover {
      text-decoration: none;
    }
  }
}

@mixin title-box($background: $gray-light) {
  display: inline-block;
  position: relative;
  padding: 0.3em 1em 0.2em;
  background: $background;
}

@mixin full-width {
  width: 100vw;
  height: 100%;
  left: 50%;
  margin-left: -50vw;
}

@mixin link-hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s;

  &:hover {
    border-color: $teal;
  }
}

@mixin underline-effect {
  transition: background-size .5s ease-out;
  background: linear-gradient($teal, $teal) no-repeat left 123%/0 50%;
  display: inline;

  p {
    display: inline;
  }
}

@mixin underline-hover {
  text-decoration: none;
  background-size: 100% 50% !important;
}

@mixin opacity() {

  @for $i from 0 through 100 {

    &.opacity-#{$i} {

      .group-left {

        &::after {
          opacity: ($i / 100);
        }
      }
    }
  }
}

@mixin image-height() {

  @for $i from 0 through 100 {

   &.image-height-#{$i} {

     .group-left {
     }
   }
 }
}
