/* VARIABLES */

// COLORS

$gray: #EDF4F5;
$gray-dark: #7C8F99;
$gray-light: #EDF4F5;
$blue-dark: #0D2D40;
$teal: #69F3D9;
$teal-light: #E0F3F2;
$black: #1C1C1C;
$gray-border: #71848E;

// FONTS
$font-family-base: proxima-nova, sans-serif;
$font-family-special: professor, sans-serif;

