@mixin richtext() {

  ul {
    list-style: none;
    line-height: 1.4em;
    padding: 0;

    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 8px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 8px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: $teal;
      }
    }
  }

  ol {

    li {
      margin-bottom: 8px;
    }
  }

  p {
    line-height: 1.4em;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a:not(.button) {
    text-decoration: underline;
    @include underline-effect();

    &:hover {
      @include underline-hover();
    }
  }

  a.button {
    @include button();

    &.outline {
      @include button($blue-dark, #fff, $teal);

      .site-footer & {
        @include button($teal, transparent, #fff);
      }
    }
  }

  .cursive {
    color: $teal;
  }

  p.caption,
  figcaption {
    font-size: 15px;
    font-style: italic;
    color: $gray-dark;
  }

  figcaption {
    margin-top: -10px;
  }



  figure img {
    margin: 20px 0 !important;
  }

  img.align-center {
    margin: 20px auto;
  }

  figure.align-left,
  img.align-left {
    margin: 0 20px 20px 0;
    float: left;

    img {
      margin: 0 !important;
    }
  }

  figure.align-right,
  img.align-left {
    margin: 0 0 20px 20px;
    float: right;

    img {
      margin: 0 !important;
    }
  }

}
